<div *ngIf="currentUser; else elseBlock">
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand -->
                        <a routerLink="/" class="navbar-brand d-none d-sm-inline-block">
                            <div class="brand-text d-none d-lg-inline-block"><strong>Logo</strong></div>
                            <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>L</strong></div>
                        </a>
                        <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->
                        <li class="nav-item">
                            <a (click)="logout()" class="nav-item nav-link logout"> <span class="d-none d-sm-inline">Cerrar Sesión</span><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- main app container -->
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="../assets/img/avatar.png" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">Administrador</h1>
                    <p>Cargo</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li *ngFor="let menu of currentUser.menu">
                    <a href="#{{menu.nombreMenu}}" aria-expanded="true" data-toggle="collapse"> <i class="fa {{menu.groupIcon}}"></i>{{menu.nombreMenu}} </a>
                    <ul id="{{menu.nombreMenu}}" class="list-unstyled ">
                        <li *ngFor="let pagina of menu.pages">
                            <a routerLink="{{pagina.url}}"><i class="fa {{pagina.icon}}"></i>{{pagina.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                </div>
            </header>
            <br>
            <section class="no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Footer-->
            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Empresa &copy; 2019</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>Diseñado por <a href="https://www.efby.cl" class="external">Efby.cl</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <router-outlet></router-outlet>
</ng-template>