<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Proyecto Base</h1>
                            </div>
                            <p>Proyecto Base</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                        <div class="alert alert-info">
                                Username: prueba<br /> Password: 123
                            </div>
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <input type="text" formControlName="username" class="input-material" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required data-msg="Por Favor Ingrese su Nombre de Usuario" />
                                    <label for="username" class="label-material">Nombre de Usuario</label>
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Nombre de Usuario Requerido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" class="input-material" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required data-msg="Por Favor Ingrese su Contraseña" />
                                    <label for="password" class="label-material">Contraseña</label>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Contraseña Requerida</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary">Iniciar Sesión</button>
                                    </div>
                                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                            </form>
                            <a href="#" class="forgot-pass">Olvido su Contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
            <p>Diseñado por <a href="https://www.efby.cl" class="external">Efby.cl</a></p>
        </div>
</div>